{% extends 'todos/base.html' %}

{% block title %}
<title>Surukoto</title>
{% endblock %}

{% block content %}
<div class="position-absolute todo-div">
  <div class="page-header">
    <h1>
      Surukoto
    </h1>
  </div>

  <div class="row">
    <!-- <div class="offset-md-2 col-lg-6"> -->
      <div class="list-group">
        {% for todo in todo_list %}
        <div class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}">
          <form style="display: inline;" method="post" action="{% url 'todos:update' todo.id %}">
            {% csrf_token %}
            <input type="checkbox" name="isCompleted" onchange="this.form.submit()" {% if todo.isCompleted %} checked
              {% endif %} class="todo-status-checkbox"
              title="{% if not todo.isCompleted %} mark as done {% else %} mark undone {% endif %}">
          </form>
          {{ todo.title }}
        </div>
        {% endfor %}
      <!-- </div> -->
    </div>
  </div>
    
  <div class="sphere">
    <div class="blobs" id="record">
      <svg viewbox="0 0 1200 1200">
          <g class="blob blob-1">
              <path />
          </g>
          <g class="blob blob-2">
              <path />
          </g>
          <g class="blob blob-3">
              <path />
          </g>
          <g class="blob blob-4">
              <path />
          </g>
          <g class="blob blob-1 alt">
              <path />
          </g>
          <g class="blob blob-2 alt">
              <path />
          </g>
          <g class="blob blob-3 alt">
              <path />
          </g>
          <g class="blob blob-4 alt">
              <path />
          </g>
      </svg>
    </div>
  </div>
</div>
{% endblock %}