{% extends 'todos/base.html' %}

{% block title %}
<title>Surukoto</title>
{% endblock %}

{% block content %}
<div class="todo-div">
  <div class="page-header">
    <h1 style="text-align: center;">Surukoto</h1>
    <p style="text-align: center;">Voice-Powered Task Management!</p>
  </div>
  <div class="row">
      <div class="list-group">
        {% for todo in todo_list %}
        <div class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}">
          <form style="display: inline;" method="post" action="{% url 'todos:update' todo.id %}">
            {% csrf_token %}
            <input style="margin-right: 8px;" type="checkbox" name="isCompleted" onchange="this.form.submit()" {% if todo.isCompleted %} checked
              {% endif %} class="todo-status-checkbox"
              title="{% if not todo.isCompleted %} mark as done {% else %} mark undone {% endif %}">
          </form>
          {% if todo.isCompleted %} <s><em>{{ todo.title }}</em></s> {% else %} {{ todo.title }} {% endif %}
        </div>
        {% endfor %}
    </div>
  </div>
  <div class="sphere">
    <div class="blobs" id="record">
      <svg viewbox="0 0 1200 1200">
        <defs>
          <filter id="blurFilter1" x="-50%" y="-50%" width="200%" height="200%">
              <feGaussianBlur in="SourceGraphic" stdDeviation="60" />
          </filter>
          <filter id="blurFilter2" x="-50%" y="-50%" width="200%" height="200%">
            <feGaussianBlur in="SourceGraphic" stdDeviation="40" />
          </filter>
          <filter id="blurFilter3" x="-50%" y="-50%" width="200%" height="200%">
            <feGaussianBlur in="SourceGraphic" stdDeviation="20" />
          </filter>
          <filter id="blurFilter4" x="-50%" y="-50%" width="200%" height="200%">
            <feGaussianBlur in="SourceGraphic" stdDeviation="200" />
          </filter>
        </defs>
        <g class="blob blob-1">
          <path d="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z"
          filter="url(#blurFilter1)">
            <animate attributeName="d" dur="8s" repeatCount="indefinite"
                     values="M 100 600 q 0 -500, 500 -500 t 500 500 t -500 500 T 100 600 z;
                             M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                             M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z;
                             M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z;
                             M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z;
                             M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                             M 100 600 q 0 -500, 500 -500 t 500 500 t -500 500 T 100 600 z;
                             M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z"/>
          </path>
        </g>
        <g class="blob blob-2">
          <path d="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z"
          filter="url(#blurFilter2)">
              <animate attributeName="d" dur="8s" repeatCount="indefinite"
                       values="M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z;
                       M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z;
                       M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                       M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                       M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                       M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z;
                       M 100 600 q 0 -400, 500 -500 t 400 500 t -500 500 T 100 600 z;
                       M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z
                       "/>
          </path>
        </g>
        <g class="blob blob-3">
          <path d="M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z" filter="url(#blurFilter3)">
              <animate attributeName="d" dur="7s" repeatCount="indefinite"
                       values="M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                               M 125 600 q -25 -500, 500 -500 t 475 550 t -500 500 T 125 600 z;
                               M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z;
                               M 125 600 q 50 -600, 500 -500 t 425 500 t -500 500 T 125 600 z;
                               M 100 600 q 100 -600, 500 -500 t 400 500 t -500 500 T 100 600 z;
                               M 75 600 q 50 -600, 500 -500 t 425 500 t -500 500 T 75 600 z;
                               M 50 600 q 0 -600, 500 -500 t 450 550 t -500 500 T 50 600 z;
                               M 75 600 q -25 -500, 500 -500 t 475 550 t -500 500 T 75 600 z;
                               M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z"/>
          </path>
        </g>      
        <g class="blob blob-4">
          <path d="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z"
          filter="url(#blurFilter4)"
          >
            <animate attributeName="d" dur="8s" repeatCount="indefinite"
                     values="M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z;
                             M 100 600 q 100 -600, 500 -500 t 400 500 t -500 500 T 100 600 z;
                             M 100 600 q -50 -400, 500 -500 t 450 550 t -500 500 T 100 600 z;
                             M 150 600 q 0 -600, 500 -500 t 500 550 t -500 500 T 150 600 z"/>
          </path>
        </g>
      </svg>
      <div id="record-text">
        Click and Start Talking
      </div>
    </div>
  </div>
  <div style="margin-top: 70px; text-align: left; font-family: Arial, sans-serif;">
    <div id="shortContent">
      <h5 style="text-align: center;">Try this</h5>
      <br>
      <p>📝 Finish the blog post</p>
      <p>🛒 Remind me to buy milk, bread, and sugar</p>
    </div>
    
    <button id="readMoreBtn">More examples</button>
    
    <div id="extraContent" style="display: none;">
      <p>🥛 I bought everything except milk</p>
      <p>🌟 Schedule gym session for 6 PM</p>
      <p>📅 Set up meeting with the design team</p>
      <p>📖 I read Chapter 4 of 'Innovative Mindsets', and tommorow I want to read Chapter 5</p>
      <p>✔️ Clean up completed items</p>
      <p>➕ Duplicate every todo item and add 'tomorrow' to the end</p>
    </div>
    <button id="readLessBtn" style="display: none;">Less examples</button>
    </div>
</div>

{% if messages %}
{% for message in messages %}
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto">Something not good 🗿</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        {{ message }}
      </div>
    </div>
  </div>
{% endfor %}
{% endif %}

<script>
  const readMoreBtn = document.getElementById('readMoreBtn');
  const readLessBtn = document.getElementById('readLessBtn');
  const extraContent = document.getElementById('extraContent');

  readMoreBtn.onclick = () => {
    extraContent.style.display = 'block';
    readMoreBtn.style.display = 'none';
    readLessBtn.style.display = 'block';
  }
  readLessBtn.onclick = () => {
    extraContent.style.display = 'none';
    readLessBtn.style.display = 'none';
    readMoreBtn.style.display = 'block';
  }
  var toastElList = [].slice.call(document.querySelectorAll('.toast'))
  var toastList = toastElList.map(function (toastEl) {
    return new bootstrap.Toast(toastEl, { autohide: false })
  })
  toastList.forEach(t => t.show());

</script>
{% endblock %}