body {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  text-align: center;
}

.todo-div {
  margin-top: 100px;
  width: 400px;
}

.list-group {
  text-align: left;
}

.page-header {
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  
  .todo-div {
    width: 300px;
  }
}

#ivan {
  width: 100px;
  height: 100px;
  background: red;
  filter: blur(1rem);
}

#xxx {
  filter: blur(1rem);
}